body { text-align: center; }

p{
color: rgb(0,0,255);
background-color: rgb(0,0,0);
}

h1 {background-color: red;}

h1 { font-family: "Courier New", monospace; }

h2 { font-size: 24px; }

h2 { font-weight: bold; }

h3 { text-transform: uppercase; }

#two { font-weight: bold; }
.one { font-size: 20px; }
